# Compiled test executables
test_speed
test_acceleration
test_position
test_command_queue
test_stepper_engine
test_debug
test_epsilon
test_acc_debug
test_pos_debug
test_stepper_engine_minimal

# Object files
*.o
*.obj

# Debug symbols
*.dSYM/
